Python HOME

In [7]:
print("Hello World")

Hello World

Python Syntax

In [15]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [17]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [23]:
x = 5
y = "Hello, World!"

Python Comments

In [26]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [28]:
print("Hello, World!") #This is a comment

Hello, World!

In [30]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [32]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [34]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables

In [37]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [39]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [41]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [43]:

#Get the type

In [45]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [48]:

#Single or Double Quotes?

In [52]:
x = "John"
# is the same as
x = 'John'

In [54]:

#Case-Sensitive

In [56]:
a = 4
A = "Sally"
#A will not overwrite a

In [75]:

#Python - Variable Names

"Legal variable names"
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [77]:

#Python Variables - Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange

In [79]:

#Python - Output Variables
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

Python is awesome
Python is awesome
Python is awesome
15
5 John

In [81]:

#Python - Global Variables
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()



x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)



def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)




x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome
Python is fantastic
Python is fantastic

In [83]:

#Python - Variable Exercises

Python Data Types

In [90]:
x = 5
print(type(x))

#x = "Hello World"	str	
#x = 20	int	
#x = 20.5 float
#x = 1j	complex	
#x = ["apple", "banana", "cherry"]	list	
#x = ("apple", "banana", "cherry")	tuple	
#x = range(6)	range	
#x = {"name" : "John", "age" : 36}	dict	
#x = {"apple", "banana", "cherry"}	set	
#x = frozenset({"apple", "banana", "cherry"})	frozenset	
#x = True	bool	
#x = b"Hello"	bytes	
#x = bytearray(5)	bytearray	
#x = memoryview(bytes(5))	memoryview	
#x = None	NoneType


#x = str("Hello World")	str	
#x = int(20)	int	
#x = float(20.5)	float	
#x = complex(1j)	complex	
#x = list(("apple", "banana", "cherry"))	list	
#x = tuple(("apple", "banana", "cherry"))	tuple	
#x = range(6)	range	
#x = dict(name="John", age=36)	dict	
#x = set(("apple", "banana", "cherry"))	set	
#x = frozenset(("apple", "banana", "cherry"))	frozenset	
#x = bool(5)	bool	
#x = bytes(5)	bytes	
#x = bytearray(5)	bytearray	
#x = memoryview(bytes(5))	memoryview

<class 'int'>

Python Numbers

In [93]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

#Integers:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

#Floats:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

#Complex:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [95]:

#type conversion

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

#Random Number
import random

print(random.randrange(1, 10))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
1

Python Casting

In [100]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Python Strings

In [105]:

#Python Strings

print("Hello")
print('Hello')

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

a = "Hello"
print(a)

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)


a = "Hello, World!"
print(a[1])

for x in "banana":
  print(x)

a = "Hello, World!"
print(len(a))

txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

txt = "The best things in life are free!"
print("expensive" not in txt)


txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"
Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
e
b
a
n
a
n
a
13
True
Yes, 'free' is present.
True
No, 'expensive' is NOT present.

In [107]:

#Python - Slicing Strings
b = "Hello, World!"
print(b[2:5])

b = "Hello, World!"
print(b[:5])

b = "Hello, World!"
print(b[2:])

b = "Hello, World!"
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [109]:

#Python - Modify Strings
a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

In [111]:

#Python - String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

In [113]:

#Python - Format - Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 59
txt = f"The price is {price} dollars"
print(txt)

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars

In [115]:

#Python - Escape Characters
txt = "We are the so-called \"Vikings\" from the north."

In [119]:

#Python - String Methods
#that was empty

In [ ]:

#Python - String Exercises
# I have done all of them